body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
.navbar {
    position: fixed;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(148, 146, 146, 0.77)
}
.logo {
    float: left;
    color: #000;
    font-size: 24px;
    text-decoration: none;
    color: palevioletred;
}

.nav-links {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    // margin-left: 10px;
}

.nav-links li a {
    color: rgb(56, 55, 55);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;

}

.btn {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 90px;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    border: 2px solid pink;
    color: #000; 
}


.footer {
    position: fixed;
    background-color: #856767;
    color: white;
    padding: 15px ;
    text-align: center;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }
}

